body {
    background-color: #2d2f39;
    font-family: monospace;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -2;

    &+ label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: #1d9d74;
        border: #2aac84 1px solid;
        display: inline-block;
        padding: 7px;
    }

    &:focus + label {
        background-color: #1d9d74;
    }

    &.inputfile + label:hover {
        background-color: #1bcd94;
        cursor: pointer;
    }
}

.input-block {
    width: 250px;
    margin: 0 auto;
}

.output-block {
    width: 600px;
    margin: 0 auto;
    width: 600px;
    min-height: 600px;
    margin: 0 auto;
}

.output{
  width: 100%;
  height: 600px;
  background-color: #393b49;
  color: #e7e7e7;
  resize: none;
}

.hidden {
    display: none;
}
