body {
  background-color: #2d2f39;
  font-family: monospace;
}

.waveSelector {
  &.row {
    width: 85px;
    height: 35px;
  }
  &.col {
    width: 20px;
    height: 35px;
  }
}

.nsc-filter {
  width: 240px;
  height: 5 0px;
  >canvas {
    // flex-shrink: 1;
    // flex-grow: 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -2;

  &+ label {
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      background-color: #1d9d74;
      border: #2aac84 1px solid;
      display: inline-block;
      padding: 7px;
  }
  &:focus + label {
      background-color: #1d9d74;
  }

  &.inputfile + label:hover {
    background-color: #1bcd94;
    cursor: pointer;
  }
}

  .content {
    width: 250px;;
    margin: 0 auto;
  }

  .box {
    margin: 0 auto;
  }
